@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_layout.cshtml";
}
<div class="col-sm-12">
	<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</div>
</div>
<div class="col-sm-6">Some stuff</div>
<div class="col-sm-6">Some stuff</div>