@model Blog.ReadModel.Data.PublishedPost
@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="row">
	<div class="col-md-9">
		@Html.Partial("~/Views/Shared/_post.cshtml", Model)
	</div>
</div>