@model Blog.ReadModel.Data.PublishedPost
@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h3><a href="/Post/@Model.Url">@Model.Title</a></h3>
			<p><small><span class="glyphicon glyphicon-time"></span> @Model.WhenPublished.ToString("d MMMM yyyy")</small></p>
		</div>
		<div>@Html.Raw(Model.Content)</div>
	</div>
</div>