@model Blog.ReadModel.Data.PublishedPost
@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<div class="container">
				<h1><a href="/">Domain CQRS Blog</a></h1>
				<p>CQRS + Event Sourcing + Domain Driven Design + Behaviour Driven Development</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-@(Model.IsArticle ? "12" : "9")" ng-app="commentsModule">
		@Html.Partial("~/Views/Shared/_post.cshtml", Model)
	</div>
</div>