@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="row">
	<div class="col-md-6">
		<form method="post" action="/Login">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" name="username" placeholder="Username" />
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Password" />
			</div>
			@Html.Hidden("returnUrl", @Request.QueryString["ReturnUrl"])
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>
</div>
