@model IEnumerable<Blog.ReadModel.Data.DraftPost>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="row">
	<div class="col-md-12">
		<nav class="navbar navbar-default" role="navigation">
			<div class="nav navbar-nav navbar-right">
				<form class="navbar-form">
					<a class="btn btn-default" href="/Drafts/Edit">New</a>
				</form>
			</div>
		</nav>
	</div>
</div>
@foreach (var post in Model)
{
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="Drafts/Edit/@post.Id">@post.Title</a>
				</div>
				<div class="nav navbar-nav navbar-right">
					<form method="post" class="navbar-form">
						@Html.Hidden("Id", post.Id)
						<button type="submit" class="btn btn-default">Publish</button>
					</form>
				</div>
			</nav>
			<p>@post.Content</p>
			<p>&nbsp;</p>
		</div>
	</div>
}
@section Login
{
	@Html.Partial("_login", Blog.ReadModel.Repository.Repositories.Users.Get(Blog.Web.UI.YeastConfig.Session(Blog.Web.UI.YeastConfig.SessionId(Request.Cookies)).UserId))
}