@model IEnumerable<Blog.ReadModel.Data.DraftPost>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="row">
	<div class="col-md-9">
		@foreach (var post in Model)
  {
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<a class="navbar-brand" href="Drafts/Edit/@post.Id">@post.Title</a>
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex-collapse-@post.Id.ToString()">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse navbar-ex-collapse-@post.Id.ToString()">
							<form method="post" class="navbar-right">
								@Html.Hidden("Id", post.Id)
								<button type="submit" class="btn btn-default navbar-btn">Publish</button>
							</form>
						</div>
					</nav>
					<div>@Html.Raw(post.Content)</div>
					<p>&nbsp;</p>
				</div>
			</div>
  }
	</div>
</div>
@section Menu
{
	<li>
		<a href="/Drafts/Edit">New Post</a>
	</li>
}
@section Scripts
{
	<script src="~/Scripts/syntaxhighlighter/scripts/shCore.js"></script>
	<script src="~/Scripts/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
	<script>
		$(document).ready(function () {
			SyntaxHighlighter.all();
		});
	</script>
}
@section Styles
{
	<link rel="stylesheet" href="~/Scripts/syntaxhighlighter/styles/shCore.css">
	<link rel="stylesheet" href="~/Scripts/syntaxhighlighter/styles/shThemeDefault.css">
	<style type="text/css">
		.syntaxhighlighter
		{
			overflow-y: hidden !important;
			overflow-x: auto !important;
		}
	</style>}