@model IEnumerable<Blog.ReadModel.Data.PublishedPost>
@{
	ViewBag.Title = "Domain CQRS Blog";
	Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="row">
	<div class="col-md-9">
		@foreach (var post in Model)
  {
			<div class="row">
				<div class="col-md-12">
					@Html.Partial("~/Views/Shared/_post.cshtml", post)
				</div>
			</div>
  }
		<div class="row">
			<div class="col-md-12">
				<ul class="pager">
					@if (ViewBag.MorePosts)
	  {
						<li class="previous"><a href="/Posts/@(ViewBag.PageNumber + 1)">&larr; Older</a></li>
	  }
					@if (1 != ViewBag.PageNumber)
	  {
						<li class="next"><a href="@((2 == ViewBag.PageNumber) ? "/" : "/Posts/" + (ViewBag.PageNumber - 1))">Newer &rarr;</a></li>
	  }
				</ul>
			</div>
		</div>
	</div>
</div>
