@model IEnumerable<Blog.ReadModel.Data.PublishedPost>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@foreach (var post in Model)
{
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<h3><a href="Posts/@post.Url">@post.Title</a></h3>
				<small><span class="glyphicon glyphicon-time"> @post.WhenPublished.ToString("d MMMM yyyy")</span></small>
			</div>
			<p>@post.Content</p>
		</div>
	</div>
}