@model IEnumerable<Blog.ReadModel.Data.PublishedPost>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="row">
	<div class="col-md-9">
		@foreach (var post in Model)
  {
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h3><a href="/Post/@post.Url">@post.Title</a></h3>
						<p><small><span class="glyphicon glyphicon-time"></span>@post.WhenPublished.ToString("d MMMM yyyy")</small></p>
					</div>
					<div>@Html.Raw(post.Content)</div>
				</div>
			</div>
  }
	</div>
</div>
@section Scripts
{
	<script src="~/Scripts/syntaxhighlighter/scripts/shCore.js"></script>
	<script src="~/Scripts/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
	<script>
		$(document).ready(function () {
			SyntaxHighlighter.all();
		});
	</script>
}
@section Styles
{
	<link rel="stylesheet" href="~/Scripts/syntaxhighlighter/styles/shCore.css">
	<link rel="stylesheet" href="~/Scripts/syntaxhighlighter/styles/shThemeDefault.css">
	<style type="text/css">
		.syntaxhighlighter
		{
			overflow-y: hidden !important;
			overflow-x: auto !important;
		}
	</style>
}